<!DOCTYPE html>
<html>
<!-- Exercise 6: Make a service that provides the feeds list currently defined in the controller. Inject that
    service into the controller to initialize the feeds list. Make a second service that defines
    the remove feed/feed entry functionality for your controller and inject it into the controller, too.
-->

<head>
    <title></title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="feedsApp">
    <div ng-controller="FeedsCtrl">
        Search:
        <input type="text" ng-model="feedModel.search.description" />
        <table border="1">
            <tr>
                <th>Feed #</th>
                <th>Title</th>
                <th>Link</th>
                <th>Description</th>
                <th>Entries</th>
                <th>Remove Feed</th>
                <th>Remove Feed Entry</th>
            </tr>
            <tr ng-repeat="feed in feedModel.feeds | orderBy:'title' | filter:feedModel.search"
                ng-class="checkSelectedFeedClass(feed)">
                <td>{{ $index }}</td>
                <td ng-click="feedModel.selectedFeed = feed">{{ feed.title }}</td>
                <td>{{ feed.link }}</td>
                <td>{{ feed.description }}</td>
                <td>{{ feed.entries.length }}</td>
                <td>
                    <button style="width:100%" ng-click="removeFeed(feed)">
                        - feed
                    </button>
                </td>
                <td>
                    <button style="width:100%" ng-click="removeFeedEntry(feed.entries)">
                        - entry
                    </button>
                </td>
            </tr>
        </table>

        <div>
            Selected Feed: <br>
            Title: {{feedModel.selectedFeed.title}} <br>
            Link: {{feedModel.selectedFeed.link}} <br>
            Description: <input type="text" ng-model="feedModel.selectedFeed.description"> <br>
            Entries: {{feedModel.selectedFeed.entries.length}} <br>
        </div>
    </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.min.js"></script>
<script type="text/javascript" src="./feedsApp.js"></script>
<link data-require="fontawesome@*" data-semver="4.1.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
</body>

</html>